<div class="page-header">
  <h1>Students</h1>
  <%= form_tag({:controller => "students"}, :method => :get) %>
  <%= date_field_tag(:date, @current_date) %>
  <%= submit_tag %>
</div>

<table>
  <tr>
    <div style="float: right, width: 50%">
      <h2>In Class</h2>
      <table cellpadding="50px">
        <tr>
          <td>
            <div style="float: top"><h2>Seat 1</h2></div>
            <% @seat1.each do |s| %>
              <div style="float: left, display: block">
                <h4><%= s.avatar %></h4>
                <p><%= s.nickname %></p>
                <p><%= s.email %></p>
              </div>
            <% end %>
          </td>
          
          <td>
            <div style="float: top"><h2>Seat 2</h2></div>
            <% @seat2.each do |s| %>
              <div style="float: right, display: block">
                <h4><%= s.avatar %></h4>
                <p><%= s.nickname %></p>
                <p><%= s.email %></p>
              </div>
            <% end %>
          </td>
          
          <td>
            <div style="float: top"><h2>Seat 3</h2></div>
            <% @seat3.each do |s| %>
              <div style="float: left, display: block">
                <h4><%= s.avatar %></h4>
                <p><%= s.nickname %></p>
                <p><%= s.email %></p>
              </div>
            <% end %>
          </td>
          
          <td>
            <div style="float: top"><h2>Seat 4</h2></div>
            <% @seat4.each do |s| %>
              <div style="float: right, display: block">
                <h4><%= s.avatar %></h4>
                <p><%= s.nickname %></p>
                <p><%= s.email %></p>
              </div>
            <% end %>
          </td>
        </table>
      
      <h2>Absent</h2>
      <% @absent.each do |a| %>
        <div class="info-block">
          <h4><%= a.name %></h4>
          <p><em>(<%= a.nickname %>)</em></p>
          <p><%= a.email %></p>
        </div>
      <% end %>
    </div>
  </tr>
  
  <html>
    <head>
      <script type="text/javascript" src="https://www.google.com/jsapi"></script>
      <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
            ['Attendance', 'Total'],
            ['Seat 1', <%= Student.count(Student.in_seat("1", @current_date).length) %>],
            ['Seat 2', <%= Student.count(Student.in_seat("2", @current_date).size) %>],
            ['Seat 3', <%= Student.count(Student.in_seat("3", @current_date).length) %>],
            ['Seat 4', <%= Student.count(Student.in_seat("4", @current_date).length) %>],
            ['Absent', <%= Student.count(Student.absent(@current_date).length) %>]
          ]);

          var options = {
            title: 'Student Attendances'
          };

          var chart = new google.visualization.PieChart(document.getElementById('piechart'));
          chart.draw(data, options);
        }
      </script>
    </head>
    <body>
      <div id="piechart" style="width: 900px; height: 500px;"></div>
    </body>
  </html>
  
  <tr>
    <% @students.each do |student| %>
      <div id="<%=dom_id(student)%>" class="list-item">
      <div class="avatar pull-left" style='background-image: url(<%= student.avatar %>)'></div>
        <div class="info-block">
          <h4><%= student.name %></h4>
          <p><em>(<%= student.nickname %>)</em></p>
          <p><%= student.email %></p>
        </div>
      </div>
    <% end %>
  </tr>
</table>