<p>
  Name: 
  <%= @student.name %>
</p>

<p>
  Nickname: 
  <%= @student.nickname %>
</p>

<p>
  E-mail: 
  <%= @student.email %>
</p>

<p>
  Image URL: 
  <%= @student.image %>
</p>

<%= link_to 'Back', students_path %>
| <%= link_to 'Edit', edit_student_path(@student) %>